/* =============================================================================
   Typography
   Erik Korte Theme - Typography
   ========================================================================== */

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 700;
    color: #333;
}

/* Text Elements */
p,
span,
div,
a {
    font-family: var(--main-font);
}
